<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="well well-sm">
      <%= simple_form_for @message, method: :post, defaults: { label: false }, html: { class: 'form-horizontal' } do |f| %>
        <fieldset>
          <legend class="text-center header">Contact me now!</legend>

          <div class="form-group">
            <span class="col-md-1 col-md-offset-2"><i class="fa fa-user fa-3x"></i></span>
            <div class="col-lg-8 col-md-8">
              <%= f.input :fname, placeholder: "First Name" %>
            </div>
          </div>
          <div class="form-group">
            <span class="col-md-1 col-md-offset-2"><i class="fa fa-user fa-3x"></i></span>
            <div class="col-lg-8 col-md-8">
              <%= f.input :lname, placeholder: "Last Name" %>
            </div>
          </div>

          <div class="form-group">
            <span class="col-md-1 col-md-offset-2"><i class="fa fa-envelope fa-3x"></i></span>
            <div class="col-lg-8 col-md-8">
              <%= f.input :email, placeholder: "Email Address" %>
            </div>
          </div>

          <div class="form-group">
            <span class="col-md-1 col-md-offset-2"><i class="fa fa-phone-square fa-3x"></i></span>
            <div class="col-lg-8 col-md-8">
              <%= f.input :phone, placeholder: "Phone" %>
            </div>
          </div>

          <div class="form-group">
            <span class="col-md-1 col-md-offset-2"><i class="fa fa-pencil-square fa-3x"></i></span>
            <div class="col-lg-8 col-md-8">
              <%= f.input :msg, input_html: { rows: 10 }, as: :text, placeholder: "Enter your message here." %>
            </div>
          </div>

          <div class="form-group text-center">
            <div class="col-lg-12 col-md-12">
              <%= f.button :submit, "Send Message", class: "btn btn-primary btn-lg" %>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
