<div class="circle-wrap4">
  <div class="circle4">
    <div class="mask4 full4">
      <div class="fill4"></div>
    </div>
    <div class="mask4 half4">
      <div class="fill4"></div>
    </div>
  </div>
  <div class="inside-circle4">
    70%
  </div>
</div>
<p>css</p>
