<div class="circle-wrap3">
  <div class="circle3">
    <div class="mask3 full3">
      <div class="fill3"></div>
    </div>
    <div class="mask3 half3">
      <div class="fill3"></div>
    </div>
  </div>
  <div class="inside-circle3">
    90%
  </div>
</div>
<p>Html</p>
