<div id="skills">
  <div class="skills-wrapper">
    <h1>My Skills</h1>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <%= render 'pages/skills/skill1' %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <%= render 'pages/skills/skill2' %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <%= render 'pages/skills/skill3' %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <%= render 'pages/skills/skill4' %>
      </div>
    </div>
  </div>
</div>
