<div class="circle-wrap">
  <div class="circle">
    <div class="mask full">
      <div class="fill"></div>
    </div>
    <div class="mask half">
      <div class="fill"></div>
    </div>
  </div>
  <div class="inside-circle">
    50%
  </div>
</div>
<p>Ruby on Rails</p>
