#about {
  padding-top: 50px;
  text-align: center;
  background-color: #f2f2f2;
  p {
    padding-top: 20px;
    line-height: 28px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }
  h1 {
    font-family: 'Permanent Marker', cursive;
  }
}
.about-wrapper {
  margin-top: -20px;
}
.image {
  padding-top: 10px;
  width: 300px;
  height: 300px;
}
.chart {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin: 50px 0;
  text-align: center;
}
#process {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  h2 {
    font-family: 'Permanent Marker', cursive;
    padding-top: 50px;
  }
  p {
    padding-top: 20px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    padding-bottom: 50px;
  }
}
.process-content {
  padding-top: 50px;
}
.fa-flask, .fa-pencil-square-o, .fa-code, .fa-rocket {
  font-size: 100px;
  color: #00B16A;
}
@media (min-width: 320px) {
  .about-wrapper {
    height: auto;
  }
  .process-wrapper {
    height: auto;
  }
}
@media (min-width: 992px) {
  #process {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  #process {
    width: 1000px;
  }
}

.console {
  color: #fff;
  width: 150px;
}
