#contact {
  background-color: #f2f2f2;
  border-bottom: #000 3px solid;
  h1 {
    letter-spacing: 1px;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
  }
}
.contact-wrapper {
  padding-top: 100px;
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1000px;
  padding-bottom: 70px;
}
.alert {
  text-align: center;
  font-size: 18px;
}
