#footer {
  background-color: #fff;
}
.footerWidget {
  padding-top: 20px;
  h3 {
    color: #000;
    font-family: 'Permanent Marker', cursive;
  }
  p {
    padding-top: 20px;
    line-height: 25px;
    font-size: 14px;
    color: #777;
  }
  a {
    text-decoration: none;
    color: #777;
    &:hover {
      color: #1abc9c;
    }
  }
}
.footer-wrapper {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
}
.footer-image {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.articles {
  padding-top: 20px;
  padding-bottom: 25px;
  h3 {
    color: #000;
    font-family: 'Permanent Marker', cursive;
  }
  ul {
    list-style: circle;
    li {
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #777;
      a {
        text-decoration: none;
        color: #777;
      }
    }
  }
}
#footerBottom {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 20px;
  p {
    font-size: 12px;
    margin-left: 45px;
    color: #625d5d;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
    }
  }
}
.footer-wrapper-bottom {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  p {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-top: -10px;
  }
}
@media (min-width: 400px) {
  .footer-wrapper {
    height: auto;
    h3 {
      text-align: center;
    }
    ul li {
      margin-left: 10px;
    }
  }
  .footerWidget {
  }
  .footer-wrapper-bottom {
    height: auto;
  }
}
@media (min-width: 768px) {
  .footer-contact {
    text-align: left;
    p {
      font-size: 12px;
    }
  }
  .articles {
    ul li {
      font-size: 12px;
    }
  }
}
@media (min-width: 992px) {
  .footer-wrapper, .footer-wrapper-bottom {
    width: 700px;
  }
}
@media (min-width: 1200px)  {
  .footer-wrapper {
    width: 900px;
  }
  .footer-contact {
    float: left;
    text-align: left;
    p {
      font-size: 14px;
    }
  }
}

