#header {
  background-color: #1abc9c;
  ul {
    list-style: none;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    li {
      display: inline-block;
    }
    a {
      text-decoration: none;
      color: #fff;
      text-align: justify;
      padding: 0px 10px;
      &:hover {
        padding-bottom: 4px;
        background: rgb(26,188,156); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(26,188,156,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(26,188,156,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(26,188,156,1)), color-stop(20%,rgba(255,255,255,1)), color-stop(80%,rgba(255,255,255,1)), color-stop(100%,rgba(26,188,156,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(26,188,156,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(26,188,156,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(26,188,156,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(26,188,156,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(26,188,156,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(26,188,156,1) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(26,188,156,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(26,188,156,1) 100%); /* W3C */
        background-size: 100% 2px;
        background-repeat: no-repeat;
        background-position: 0 19px;
      }
    }
    .active {
      a {
        padding-bottom: 4px;
        background: rgb(26,188,156); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(26,188,156,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(26,188,156,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(26,188,156,1)), color-stop(20%,rgba(255,255,255,1)), color-stop(80%,rgba(255,255,255,1)), color-stop(100%,rgba(26,188,156,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(26,188,156,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(26,188,156,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(26,188,156,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(26,188,156,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(26,188,156,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(26,188,156,1) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(26,188,156,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(26,188,156,1) 100%); /* W3C */
        background-size: 100% 2px;
        background-repeat: no-repeat;
        background-position: 0 13px;
      }
    }
  }
}
.navbar-collapse {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (min-width: 400px) {
  #header {
    ul {
      padding-bottom: 10px;
      li {
        display: block;
        float: center;
        text-align: center;
        padding-top: 15px;
      }
    }
  }
  .navbar-collapse {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: none;
  }
  .glyphicon {
    font-size: 20px;
    color: #fff;
    padding-top: 6px;
  }
  .navbar-header {
    background: url(<%= asset_data_uri 'logo.png' %>) left no-repeat;
    background-size: 50px 50px;
    background-position: 20px 8px;
  }
  .navbar {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px){
  #header {
    height: 60px;
    ul {
      float: left;
      text-align: center;
      padding-top: 10px;
      li {
        display: inline-block;
        padding-top: 7px;
        padding-left: 12px;
        font-size: 14px;
      }
    }
  }
  .navbar-collapse {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: none;
    width: 700px;
  }
  .logo-image {
    padding-top: 5px;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 992px) {
  #header {
    height: 80px;
    ul {
      padding-top: 20px;
      li {
        display: inline-block;
        float: center;
        text-align: center;
        padding-left: 10px;
        padding-top: 9px;
        font-size: 13px;
      }
    }
  }
  .navbar-collapse {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: none;
    width: 700px;
  }
  .logo-image {
    padding-top: 10px;
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 1200px) {
  #header {
    height: 100px;
    ul {
      padding-top: 30px;
      li {
        display: inline-block;
        float: center;
        text-align: center;
        padding-left: 35px;
        padding-top: 9px;
        font-size: 15px;
      }
    }
  }
  .navbar-collapse {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: none;
    width: 900px;
  }
  .logo-image {
    padding-top: 10px;
    width: 90px;
    height: 90px;
  }
}
