#home {
  padding-top: 50px;
  text-align: center;
  background-color: #f2f2f2;
  height: 600px;
  p {
    padding-top: 20px;
    line-height: 28px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }
}
.image {
  width: 300px;
  height: 300px;
}
.name {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #000;
  max-width: 300px;
}
.title {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
  }
.home-content {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  h3 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
  }
  h2 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 28px;
    font-weight: bold;
  }
  p {
    margin-top: 20px;
    line-height: 28px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }
}
.description {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.content-image {
  margin-top: 60px;
  width: 150px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.row {
  margin-right: 0;
  margin-left: 0;
}
@media (min-width: 400px) {
  #home {
    height: auto;
  }
  .home-content {
    width: auto;
  }
.column-content {
  height: 280px;
}
}
@media (min-width: 768px) {
  .home-content {
    width: auto;
  }
}
@media (min-width: 992px) {
  .home-content {
    width: 700px;
  }
.column-content {
  height: 520px;
}
}
@media (min-width: 900px) {
  .home-content {
    width: 900px;
  }
}
