#skills {
  background-color: #f2f2f2;
}
.skills-wrapper {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 26px;
  padding-top: 50px;
 }
 p {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  padding-bottom: 50px;
 }
}
@media (min-width: 320px) {
  .skills-wrapper {
    height: auto;
  }
}
@media (min-width: 992px) {
  .skills-wrapper {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .skills-wrapper {
    width: 1000px;
  }
}
