.social-wrapper {
  margin-top: -20px;
  text-align: center;
  height: 300px;
  background-color: #f2f2f2;
  ul {
    list-style: none;
    padding-top: 70px;
    li {
      display: inline-block;
      a {
        text-decoration: none !important;
      }
    }
  }
}
.social-title {
  font-family: 'Permanent Marker', cursive;
  padding-top: 40px;
}
.fa {
  float: center;
  padding: 25px;
  text-align: center;
  display: inline;
  border-radius: 50%;
  line-height: 50px;
  text-decoration: none !important;
}
.fa-facebook {
  color: #3a5795;
  border: 2px solid #3a5795;
  &:hover {
    background-color: #3a5795;
    color: #fff;
    border: 2px solid #fff;
  }
}
.fa-twitter {
  color: #55acee;
  border: 2px solid #55acee;
  &:hover {
    background-color: #55acee;
    color: #fff;
    border: 2px solid #fff;
  }
}
.fa-linkedin {
  color: #006fa6;
  border: 2px solid #006fa6;
  &:hover {
    background-color: #006fa6;
    color: #fff;
    border: 2px solid #fff;
  }
}
.fa-google-plus {
  color: #d34836;
  border: 2px solid #d34836;
  &:hover {
    background-color: #d34836;
    color: #fff;
    border: 2px solid #fff;
  }
}
.fa-envelope-o {
  color: #E5E4E2;
  border: 2px solid #E5E4E2;
  &:hover {
    background-color: #E5E4E2;
    color: #fff;
    border: 2px solid #fff;
  }
}
@media (min-width: 400px) {
  .social-wrapper {
    ul {
      margin-left: -45px;
      li {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .fa {
    padding: 15px;
  }
  .fa-facebook {
    padding: 15px 20px;
  }
}
@media (min-width: 992px) {
  .fa {
    padding: 25px;
  }
  .fa-facebook {
    padding: 25px 30px;
  }
}



ocial-share{
  margin: 10% 20%;
  text-align: center;
}
#twitter,
#facebook,
#pinterest{
  display: inline-block;
  margin: 0 2px;
}
.box{
  overflow: hidden;
  display: inline-block;
}
#twitter .share{color: #4da6dd ;}
#facebook .share{color: #0065a3;}
#pinterest .share{color: #b83c41;}

.share,
.count{
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}
.count{
  position: relative;
  background: #f4f4f4;
  border-radius: 3px;
  color: #555555;
}
.count:after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -6px;
  width: 0;
  height: 0;
  margin-top: -6px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid    transparent;
  border-right:6px solid #f4f4f4;
}
