.fa-user, .fa-envelope, .fa-phone-square,
.fa-pencil-square {
  color: #00b16a;
  float: center;
  text-align: center;
  margin-left: -30px;
}
.fa-envelope {
  margin-left: -33px;
}
.string, .tel, .email {
  padding-top: 9px;
}
.header {
  font-family: 'Permanent Marker', cursive;
}
.btn-primary {
  background-color: #00b16a;
  &:hover {
    background-color: #00b16a;
  }
}
