<div class="social-wrapper">
  <h1 class="social-title">I'm around the web!</h1>
  <ul>
    <li><%= link_to "", "https://www.facebook.com/matija.ramic", class: "fa fa-facebook fa-2x" %></li>
    <li><%= link_to "", "https://twitter.com/matijaramic", class: "fa fa-twitter fa-2x" %></li>
    <li><%= link_to "", "https://www.linkedin.com/profile/view?id=AAIAABNpgBUBsTvMIF8yJqPaNeZGA4Gndt7mp30&trk=nav_responsive_tab_profile", class: "fa fa-linkedin fa-2x" %></li>
    <li><%= link_to "", "https://plus.google.com/u/0/108218836763937110805/posts", class: "fa fa-google-plus fa-2x" %></li>
    <li><a href="mailto:matijaramic@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a></li>
  </ul>
</div>
<div class="social-share">
  <h1>Clean Social Share Buttons for Blogs</h1>
  <div id="twitter" data-url="http://mattaxell.com/"></div>
  <div id="facebook" data-url="http://mattaxell.com/"></div>
  <div id="pinterest" data-url="http://mattaxell.com/"></div>
</div>
