<div id="about">
  <div class="about-wrapper">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>About Me</h1>
        <%= image_tag("user.png", class: "image") %>
        <div class="intro-text">
          <div class="name"><h1 class="title">Hi, I am Matija Ramić</h1></div>
          <p>Lorem ipsum dolor sit amet, exerci vituperata mediocritatem ad pri, an semper placerat menandri sit. <br>Ex cum nobis putent, et vis velit iudico eripuit. Per at case solet insolens. Et aliquid commune quo,<br> iriure definiebas efficiantur pri an. Vis no atqui essent voluptatum, eu nostrum singulis recteque vix.<br> Ferri accumsan appetere nec no, te cum liber scaevola evertitur.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="process">
  <h2>Process</h2>
  <div class="process-wrapper">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="process-content">
          <i class="fa fa-flask"></i>
          <p>Research</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="process-content">
          <i class="fa fa-pencil-square-o"></i>
          <p>Design</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="process-content">
          <i class="fa fa-code"></i>
          <p>Develop</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="process-content">
          <i class="fa fa-rocket"></i>
          <p>Deploy</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/skills/skills' %>
