<div id="home">
  <div class="home-content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= image_tag("user.png", class: "image") %>
        <div class="intro-text">
          <div class="name"><h1 class="title">Hi, I am Matija Ramić</h1></div>
          <p>Lorem ipsum dolor sit amet, exerci vituperata mediocritatem ad pri, an semper placerat menandri sit. <br>Ex cum nobis putent, et vis velit iudico eripuit. Per at case solet insolens. Et aliquid commune quo,<br> iriure definiebas efficiantur pri an. Vis no atqui essent voluptatum, eu nostrum singulis recteque vix.<br> Ferri accumsan appetere nec no, te cum liber scaevola evertitur.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-content">
  <h3>What I do</h3>
  <p class="description">I am passionate about combining function, interaction and form <br>
  to design for fitting user experiences that make people happy.</p>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="column-content">
      <%= image_tag("ruby.png", class: "content-image") %>
      <h2>RoR development</h2>
      <p>Lorem ipsum dolor sit amet, reque vivendum cotidieque quo at. Te invidunt accusata adversarium vix, ius enim velit ne. Est mazim aeque cetero in, tota dicunt in sea, pri homero accusamus at. Cu cibo expetenda pro, pri te integre meliore interesset.
      </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="column-content">
      <%= image_tag("webresponsive.jpg", class: "content-image") %>
      <h2>Responsive design</h2>
      <p>Lorem ipsum dolor sit amet, reque vivendum cotidieque quo at. Te invidunt accusata adversarium vix, ius enim velit ne. Est mazim aeque cetero in, tota dicunt in sea, pri homero accusamus at. Cu cibo expetenda pro, pri te integre meliore interesset.
      </p>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="column-content">
      <%= image_tag("design.png", class: "content-image") %>
      <h2>First class design</h2>
      <p>Lorem ipsum dolor sit amet, reque vivendum cotidieque quo at. Te invidunt accusata adversarium vix, ius enim velit ne. Est mazim aeque cetero in, tota dicunt in sea, pri homero accusamus at. Cu cibo expetenda pro, pri te integre meliore interesset.
      </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="column-content">
      <%= image_tag("browserfrendly.png", class: "content-image") %>
      <h2>Browser frendly</h2>
      <p>Lorem ipsum dolor sit amet, reque vivendum cotidieque quo at. Te invidunt accusata adversarium vix, ius enim velit ne. Est mazim aeque cetero in, tota dicunt in sea, pri homero accusamus at. Cu cibo expetenda pro, pri te integre meliore interesset.
      </p>
    </div>
    </div>
  </div>
</div>
<%= render 'pages/social' %>
