<div id="footer">
  <div class="footer-wrapper">
    <div class="row">
      <div class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
        <div class="footerWidget">
          <%= link_to image_tag("logo.png", class: "footer-image"), root_path %>
          <p>Description text</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-lg-4 col-sm-4">
        <div class="footerWidget footer-contact">
          <h3>Contact info</h3>
          <p>
          <i class="fa fa-map-marker"></i>&nbsp;Augusta Cesarca 8, Cacinci<br>
          <i class="fa fa-globe"></i>&nbsp;Republic of Croatia <br>
          <i class="fa fa-mobile"></i>&nbsp;+385 989304585<br>
          <a href="mailto:matijaramic@gmail.com"><i class="fa fa-envelope"></i>matijaramic@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-lg-4 col-sm-4">
        <div class="articles">
          <h3>Latest  blog posts</h3>
          <ul class="list-unstyled iconList borderList">
            <li><%= link_to "ovo je naslov prvog članka" %></li>
            <li><%= link_to "naslov drugog članka" %></li>
            <li><%= link_to "naslov trećeg članka" %></li>
            <li><%= link_to "Još jedan naslov" %></li>
            <li><%= link_to "zadnji naslov članka" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footerBottom">
    <div class="footer-wrapper-bottom">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p>Copyright © 2015 <%= link_to "Ramić", root_path %> | All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
