<div id="header">
  <div class="navbar" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
        <span class="sr-only visible-xs">Toggle navigation</span>
        <i class="glyphicon glyphicon-menu-hamburger"></i>
      </button>
    </div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <%= link_to image_tag("logo.png", class: "logo-image hidden-xs"), root_path %>
      <ul class="nav navbar-nav navbar-right">
        <li>Work</li>
        <li><%= link_to "About", about_path %></li>
        <li>Blog</li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
